@model NCProgramMVC.Models.TdmDett

@{
    ViewBag.Title = "Edit";
}
<div class="container body-content">

    <h2>Edit</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>TdmDett</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Tdm_Id)
            @Html.HiddenFor(model => model.TdmDett_Id)
            @Html.HiddenFor(model => model.Posizione)


            <div class="form-group">
                @Html.LabelFor(model => model.ProdottoDett, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProdottoDett, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProdottoDett, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Descrizione, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Descrizione, new { @class = "ckeditor" })
                    @Html.ValidationMessageFor(model => model.Descrizione, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Salva" class="btn btn-success" />
                    @Html.ActionLink("Annulla", "Index", "Tdms", null, new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
    }
</div>
