@model NCProgramMVC.Models.Documenti

@{
    ViewBag.Title = "Create";
}
<div class="container body-content">

    <h2>Pubblica nuovo documento</h2>
    <hr />
    <div class="container body-content">

        @using (Html.BeginForm("Create", "Documentis", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <input type="file" name="file" id="file" />
            <h3 class="badge">Dimensione massima file o gruppo di file 3,5M</h3>
            <h3 class="text-danger">@ViewBag.Message</h3><br />
            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Titolo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Titolo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Titolo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Descrizione, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Descrizione, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Descrizione, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Riservato, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Riservato)
                            @Html.ValidationMessageFor(model => model.Riservato, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Aggiungi" class="btn btn-success" />
                        @Html.ActionLink("Torna alla lista", "Index", null, new { @class = "btn btn-primary" })


                    </div>
                </div>
            </div>
        }

    </div>
</div>
