@model NCProgramMVC.Models.Documenti

@{
    ViewBag.Title = "Delete";
}
<div class="container body-content">

    <h2>Cancella documento</h2>
    <hr />
    <div class="container body-content">


        <h3 class="alert alert-danger">Il documento verrà dafinitivamente eliminato</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Titolo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Titolo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Descrizione)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Descrizione)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nomefile)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nomefile)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Riservato)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Riservato)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    @Html.ActionLink("Torna alla lista", "Index", null, new {@class="btn btn-primary" })
                </div>
            }
        </div>
    </div>
</div>
