@model IEnumerable<NCProgramMVC.Models.Documenti>

@{
    ViewBag.Title = "Index";
}

<div class="container body-content">
    <h2>Sezione documenti</h2>
    <hr />
        <p>
            <a href="@Url.Action("Create", "Documentis")" class="btn btn-primary"><span class="badge">@ViewBag.DocumentiCount</span> Nuovo</a>
        </p>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Titolo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descrizione)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nomefile)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Riservato)
                    </th>
                    <th></th>
                </tr>

            </thead>

            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titolo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descrizione)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nomefile)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Riservato)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Edit", new { id=item.Documenti_Id }, new { @class= "fa fa-pencil-square-o fa-2x text-success", @title="Modifica"})
                        @Html.ActionLink(" ", "Delete", new { id=item.Documenti_Id }, new { @class = "fa fa-trash-o fa-2x text-danger", @title = "Cancella" })
                    </td>
                </tr>
}

        </table>
</div>
@section Scripts{
        <script src="~/Scripts/jquery.filtertable.js"></script>
        <script>
                        $(document).ready(function () {
                            $('table').filterTable();
                        });
        </script>
  
    }