@model NCProgramMVC.Models.Servizi

@{
    ViewBag.Title = "Delete";
}
<div class="container body-content">

    <h2 class="text-center">Cancella categoria di servizi</h2>
    <hr class="hrl" />

    <h3>Sei sicuro di voler cancellare una intera categoria di servizi?</h3>
    <div>
        <hr class="hr2" />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Servizio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Servizio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descrizione)
            </dt>

            <dd>
                @Html.Raw(Model.Descrizione)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Cancella" class="btn btn-danger" />
                @Html.ActionLink("Annulla", "Index", null ,new {@class="btn btn-success" })
            </div>
        }
    </div>
</div>