<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - NCProgram</title>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="navbar navbar-default navbar-fixed-top">
        <a href="@Url.Content("~/Home/Index/")" class="navbar-brand"><img class="img-logo1" src="~/Content/Immagini/Logo.png" /></a>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("TDM System", "TDM", "Home", null, new { @class = "arancio" })</li>
                    <li>@Html.ActionLink("CIMCO", "CIMCO", "Home", null, new { @class = "arancio" })</li>
                    <li>@Html.ActionLink("SolutionWare", "Mazac", "Home", null, new { @class = "arancio" })</li>
                    @*Menu autenticati*@
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            @Html.ActionLink(" ", "IndexDoc", "Home", null, new { @class = "glyphicon glyphicon-download-alt arancio", title = "Area download" })
                        </li>
                    }
                    <li>
                        <a href="@Url.Content("~/Home/Index/")" class="navbar-brand"><img class="img-logo" src="~/Content/Immagini/Logo.png" /></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right ">
                    <li>
                        @Html.Partial("_LoginPartial")
                    </li>
                </ul>
            </div>
       </div>
    </div>
        @RenderBody()

        <hr class="hrl" />
        <footer>
            <div class="row arancio">
                <div class="col col-md-6">
                    <div class="pull-left">
                        &copy; @DateTime.Now.Year - NCProgram Web App

                    </div>
                </div>
                <div class="col col-md-6">
                    <span>
                    @Html.ActionLink(" ", "Contact", "Home", null, new { @class = "fa fa-pencil-square-o fa-3x arancio", title = "Contatti" })
                    </span>
               </div>
            </div>
        </footer>

    @*Inizio barra amministratore bottom - gestione utenti ruoli menu splash documenti*@
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        <div class="navbar navbar-inverse navbar-fixed-bottom navi">
            <div class="container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav btn-group">
                        <li><div><a href="@Url.Action("Index", "RolesAdmin")" class="glyphicon glyphicon-tag"><span>Gestione ruoli</span></a></div></li>
                        <li><div><a href="@Url.Action("Index", "UsersAdmin")" class="glyphicon glyphicon-user"><span>Gestione utenti</span></a></div></li>
                        <li><div><a href="@Url.Action("Index", "Documentis")" class="fa fa-file-pdf-o"><span>Gestione documenti</span></a></div></li>
                        <li><div><a href="@Url.Action("Index", "Slides")" class="fa fa-slideshare"><span>Gestione slide</span></a></div></li>
                        <li><div><a href="@Url.Action("Index", "Servizis")" class="fa fa-object-group"><span>Gestione servizi</span></a></div></li>
                    </ul>
                </div>
            </div>
        </div>
    }
    @*Fine barra barra amministratore bottom - gestione utenti ruoli*@


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
