<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - NCProgram</title>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="navbar navbar-default navbar-fixed-top">
            <a href="@Url.Content("~/Home/Index/")" class="navbar-brand"><img class="img-logo1" src="~/Content/Immagini/LogoSfumato.png" /></a>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*Menu autenticati*@
                    <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "blu h4", title = "Home" })</li>
                    <li>@Html.ActionLink("TDM Systems", "TDM", "Home", null, new { @class = "blu h4" })</li>
                    <li>@Html.ActionLink("CIMCO", "CIMCO", "Home", null, new { @class = "blu h4" })</li>
                    <li>@Html.ActionLink("MazaCam", "Mazac", "Home", null, new { @class = "blu h4" })</li>
                    <li>
                        @Html.ActionLink(" ", "IndexDoc", "Home", null, new { @class = "fa fa-download blu fa-2x", title = "Area download" })
                    </li>
                </ul>
                        @Html.Partial("_LoginPartial")
            </div>
       </div>
    </div>
        @RenderBody()

        <hr class="hrl" />
        <footer>
            <div class="blu">
                <div class="col col-md-6">
                    <div class="pull-left">
                        <span>&copy; @DateTime.Now.Year - NCProgram Web App</span>
                        <p>@Html.ActionLink(" Privacy police", "Privacy", "Home", null, new { @class = "fa fa-book" })</p>

                    </div>
                </div>
                <div class="col col-md-6">
                    <span>
                        @Html.ActionLink(" ", "Contact", "Home", null, new { @class = "fa fa-pencil-square-o fa-3x", title = "Contatti" })
                    </span>
               </div>
            </div>
        </footer>

    @*Inizio barra amministratore bottom - gestione utenti ruoli menu splash documenti*@
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        <div class="navbar navbar-inverse navbar-fixed-bottom navi">
            <div >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav btn-group">
                        <li><div><a href="@Url.Action("Index", "RolesAdmin")" class="glyphicon glyphicon-tag"><span>Gestione ruoli</span></a></div></li>
                        <li><div><a href="@Url.Action("Index", "UsersAdmin")" class="glyphicon glyphicon-user"><span>Gestione utenti</span></a></div></li>
                        <li><div><a href="@Url.Action("Index", "Documentis")" class="fa fa-file-pdf-o"><span>Gestione documenti</span></a></div></li>
                        <li><div><a href="@Url.Action("Index", "Slides")" class="fa fa-slideshare"><span>Gestione slide</span></a></div></li>
                        <li><div><a href="@Url.Action("Index", "Servizis")" class="fa fa-object-group"><span>Gestione servizi</span></a></div></li>
                        <li><div><a href="@Url.Action("Prodotti", "Home")" class="fa fa-th-large"><span>Gestione Prodotti</span></a></div></li>
                    </ul>
                </div>
            </div>
        </div>
    }
    @*Fine barra barra amministratore bottom - gestione utenti ruoli*@
    @*Inizio alert utilizzo coockie*@
    @{
        if (HttpContext.Current.Request.Cookies.Get("ncprogram") != null)
        {
            if (HttpContext.Current.Request.Cookies.Get("ncprogram").Value != "privacyOK")
            {
                <div class="divCook">
                    <p>
                        Questo sito utilizza cookie di profilazione, propri o di altri. Se accedi a un qualunque elemento del sito acconsenti all'uso del cookie.
                    </p>
                    <a href="@Url.Action("InfoCookie", "Home")" class="btn btn-xs btn-warning">Informazioni</a>
                    <button id="btnCook" type="button" class="btn btn-xs btn-primary">Acconsenti</button>
                    <h4></h4>

                </div>

            }
        }
        else
        {
            <div class="divCook">
                <p>
                    Questo sito utilizza cookie di profilazione, propri o di altri. Se accedi a un qualunque elemento del sito acconsenti all'uso del cookie.
                </p>
                <a href="@Url.Action("InfoCookie", "Home")" class="btn btn-xs btn-warning">Informazioni</a>
                <button id="btnCook" type="button" class="btn btn-xs btn-primary">Acconsenti</button>
                <h4></h4>

            </div>
        }
    }
    @*Fine alert utilizzo coockie*@

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        @Scripts.Render("~/Scripts/jquery.cookie.js")
    <script type="text/javascript">
        $('#btnCook').click(function () {
            $.cookie('ncprogram', 'privacyOK', { expires: 2 });
            var valore = $.cookie('ncprogram');
            $('.divCook').hide();
        });
    </script>


</body>
</html>
