@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right navi2">
                <li>
                    <div class="pull-right">
                        <img class="img-logo" src="~/Content/Immagini/LogoSfumato.png" />
                    </div>
                </li>
            <li>
                <div class="pull-right" >
                    <a href="@Url.Action("IndexUs", "UsersAdmin")">
                        @if (File.Exists(Server.MapPath("~/Content/Immagini/FotoIscritti/" + @User.Identity.GetUserId() + ".jpg")))
                    {
                            <img class="img-usr" src="@Url.Content("~/Content/Immagini/FotoIscritti/" + @User.Identity.GetUserId() + ".jpg")" /><span>Gestisci profilo</span>

                        }
                        else
                        {
                            <img class="img-usr" src="@Url.Content("~/Content/Immagini/FotoIscritti/Anonimous.jpg")" /><span>@User.Identity.Name <br />Gestisci profilo</span>
                        }
                    </a>
                </div>
                <div class="pull-right">

                    <h4><a href="javascript:document.getElementById('logoutForm').submit()" class="fa fa-sign-out arancio"><span>Logout</span></a></h4>
                </div>
            </li>
        </ul>
    }
}
else
{
                <ul class="nav navbar-nav navbar-right navi2 ">
                    <li>
                        <div class="pull-right">

                            <img class="img-logo" src="~/Content/Immagini/LogoSfumato.png" />
                        </div>
                    </li>

                    <li>
                        <div  class="pull-right">
                            @Html.ActionLink(" ", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "fa fa-id-card-o fa-2x", @Title = "Registrati" })

                            @Html.ActionLink(" ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "fa fa-sign-in fa-2x", @title = "Login" })
                        </div>

                    </li>
                </ul>
                }
