@model IEnumerable<NCProgramMVC.Models.Slide>

@{
    ViewBag.Title = "Index";
}

<div class="container body-content">
    <h2>Sezione slides</h2>
    <hr />

    <p>
        <a href="@Url.Action("Create", "Slides")" class="btn btn-primary"><span class="badge">@ViewBag.SlideCount</span> Nuovo</a>
    </p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titolo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sottotitolo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sfondo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Posizione)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pubblica)
                </th>
                <th></th>
            </tr>

        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.Raw(item.Titolo)
                </td>
                <td>
                    @Html.Raw(item.Sottotitolo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sfondo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Posizione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pubblica)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.Slide_Id }, new { @class = "fa fa-pencil-square-o fa-2x text-success", @title = "Modifica" })
                    @Html.ActionLink(" ", "Details", new { id = item.Slide_Id }, new { @class = "fa fa-list-alt fa-2x", @title = "Dettagli" })
                    @Html.ActionLink(" ", "Delete", new { id = item.Slide_Id }, new { @class = "fa fa-trash-o fa-2x text-danger", @title = "Cancella" })
                </td>
            </tr>
        }

    </table>
</div>
