@model IEnumerable<NCProgramMVC.Models.Cimco>

@{
    ViewBag.Title = "CIMCO";
}
<div class="container body-content">
    @foreach (var itemGr in ViewBag.GruppoProdotti)
    {
        <h2 class="text-center"><img class="img-responsive img-prodotti" src="@Url.Content("~/Content/Immagini/" + @itemGr.Prodotto + ".png" )" /></h2>
        if (User.IsInRole("Admin"))
        {
            <a href="@Url.Action("Edit", "GruppoProdottis", new { id = itemGr.GruppoPodotti_Id})"><span class="fa fa-pencil fa-2x"></span></a>
        }
        <hr class="hrl" />
        <p>
            @Html.Raw(itemGr.Descrizione)
            <a role="button" data-toggle="collapse" href="#@itemGr.GruppoPodotti_Id" aria-expanded="false" aria-controls="@itemGr.GruppoPodotti_Id">
                <span class="fa fa-arrow-circle-down"></span>
            </a>
        </p>
        <div class="collapse" id="@itemGr.GruppoPodotti_Id">
            <div class="well">
                @Html.Raw(itemGr.DescrizioneDett)
            </div>
        </div>
    }

    @foreach (var item in Model)
    {
        <hr class="hr2" />
        <div class="row">
            <div class="col col-md-2 text-center">
                <img class="img-servizio" src="@Url.Content("~/Content/Immagini/Cimco/" + @item.Cimco_Id + ".png")" />
            </div>
            <div class=" col col-md-10">
                <h2 class="arancio">
                    @Html.DisplayFor(modelItem => item.Prodotto)
                    <!---Trigger collapse-->
                    @if (@item.Cimcos.Count() != 0)
                    {
                        <a class="badge" role="button" data-toggle="collapse" href="#@item.Cimco_Id" aria-expanded="false" aria-controls="@item.Cimco_Id">
                            <span class="fa fa-chevron-down"> Servizi attivi</span><br />
                        </a>
                    }
                </h2>
                <!---Collapse servizi-->
                <div class="collapse" id="@item.Cimco_Id">
                    <table class="table table-hover">
                        @foreach (var item1 in item.Cimcos)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(@item1.ProdottoDett, "CimcoDett", "Home", new { id = item1.CimcoDett_Id }, null)
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <h4>@Html.Raw(item.Descrizione)</h4>
            </div>
        </div>
    }


</div>