@model NCProgramMVC.Models.CimcoDett

@{
    ViewBag.Title = "CimcoDett";
}
<div class="container body-content">

    <h2 class="text-center"><img class="img-prodotti-xs pull-left" src="~/Content/Immagini/CIMCO.png" /><a href="@Url.Action("Cimco", "Home")"> @Html.DisplayFor(model => model.Prodotto.Prodotto) </a></h2>
    <hr class="hrl" />
    <ul class="ncbreadcrumb">
        <li><a href="@Url.Action("Cimco", "Home")">CIMCO</a></li>
        <li><a href="@Url.Action("CimcoProdotti", "Home", new {id = Model.Cimco_Id })">@Html.DisplayFor(model => model.Prodotto.Prodotto)</a></li>
        <li><a href="#nogo">@Html.DisplayFor(model => model.ProdottoDett)</a></li>
    </ul>
    <h4>@Html.DisplayFor(model => model.ProdottoDett)</h4>
    <hr class="hr2" />
    <div>
        @Html.Raw(Model.Descrizione)
    </div>
</div>