@model IEnumerable<NCProgramMVC.Models.Slide>

@{
    ViewBag.Title = "Home Page";
}

<!--Inizio sezione slides
    Se ci sono slide pubblicate inizio sezione slide--> 
@if (ViewBag.SlidesCount > 0)
{
    <div id="carousel1" class="carousel slide">
        <!-- Indicators -->
        @*<ol class="carousel-indicators">
                <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                <li data-target="#carousel1" data-slide-to="1"></li>
                <li data-target="#carousel1" data-slide-to="2"></li>
            </ol>*@

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            @{ var i = 0;}
            @foreach (var item in Model)
            {
                {
                    i++;
                    var active = i == 1 ? "active" : "";

                    <div class="item @active">
                        <img src="@Url.Content("~/Content/Immagini/Slides/" + @item.Sfondo)" alt="...">
                        <div class="carousel-caption">
                            <div>@Html.Raw(@item.Titolo)</div>
                            <div>@Html.Raw(@item.Sottotitolo)</div>
                            <div>@Html.Raw(@item.Descrizione)</div>
                        </div>
                    </div>
                }

            }
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel1" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel1" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

                }
<!--Fine sezione slides-->
<div class="container body-content">
    <div class="row">
        @foreach (var item in ViewBag.Servizi)
        {
            <div class="col-md-4 div-homepage">
                <h2>
                    <a class="img-home" href="@Url.Action(@item.Prodotto, "Home")"><span><img src="@Url.Content("~/Content/Immagini/" + item.Prodotto + ".png")" />@item.Prodotto</span></a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a href="@Url.Action("Edit", "GruppoProdottis", new { id = @item.GruppoPodotti_Id })"><span class="fa fa-pencil "></span></a>
                    }
                </h2>
                <p class="text-justify">
                    @Html.Raw(item.Descrizione)
                    <a href="@Url.Action(@item.Prodotto, "Home")"><span class="fa fa-chevron-circle-right arancio"></span></a>
                </p>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#carousel1').carousel({
                interval: 5000,
            })
        });
        $('#carousel').dr
    </script>
    }