@model NCProgramMVC.Models.Mazacam

@{
    ViewBag.Title = "Details";
}
<div class="container body-content">

    <h2 class="text-center"><img class="img-prodotti-xs pull-left" src="~/Content/Immagini/Mazacam.png" /><a href="@Url.Action("Mazacam", "Home")">@Html.DisplayFor(model => model.Prodotto) </a></h2>
    <hr class="hrl" />
    <ul class="ncbreadcrumb">
        <li><a href="@Url.Action("Mazacam", "Home")">MAZACAM</a></li>
        <li><a href="@Url.Action("MazacamProdotti", "Home", new {id = Model.Mazacam_Id })">@Html.DisplayFor(model => model.Prodotto)</a></li>
    </ul>
    <hr class="hr2" />
    <table class="table table-hover">

        @foreach (var item in Model.Mazacams.OrderBy(s => s.Posizione).Select((value, i) => new { i, value }))
        {
            <tr>
                <td>
                    @Html.ActionLink(@item.value.ProdottoDett, "MazacDett", "Home", new { id = item.value.MazacamDett_Id }, null)
                </td>
            </tr>
        }
    </table>
    <div>
        @Html.Raw(Model.Descrizione)
    </div>
</div>
