@model NCProgramMVC.Models.MazacamDett

@{
    ViewBag.Title = "MazacamDett";
}
<div class="container body-content">

    <h2 class="text-center"><a href="@Url.Action("Mazac", "Home")">@Html.DisplayFor(model => model.Prodotto.Prodotto) </a></h2>
    <hr class="hrl" />
    <a href="@Url.Action("Mazacam", "Home")" class="label label-warning">TDM System</a>
    <a href="@Url.Action("MazacamProdotti", "Home", new {id = Model.Mazacam_Id })" class="label label-warning">@Html.DisplayFor(model => model.Prodotto.Prodotto)</a>
    <a href="#nogo" class="label label-success">@Html.DisplayFor(model => model.ProdottoDett)</a>
    <h4>@Html.DisplayFor(model => model.ProdottoDett)</h4>
    <hr class="hr2" />
    <div>
        @Html.Raw(Model.Descrizione)
    </div>
</div>