@model IEnumerable<NCProgramMVC.Models.Mazacam>


@{
    ViewBag.Title = "Mazac";
}
<div class="container body-content">
    <!--- Intestazione della pagina: prevede l'immagine di testa e la descrizione del gruppodi prodotti -->
    @foreach (var itemGr in ViewBag.GruppoProdotti)
    {
        <h2 class="text-center"><img class="img-responsive img-prodotti" src="@Url.Content("~/Content/Immagini/" + @itemGr.Prodotto + ".png" )" /></h2>
        <a class="row" href="http://www.tdmsystems.com"><img class="img-partner pull-right" src="~/Content/Immagini/MazaCam_C.png" /></a>
        if (User.IsInRole("Admin"))
        {
            <a href="@Url.Action("Edit", "GruppoProdottis", new { id = itemGr.GruppoPodotti_Id})"><span class="fa fa-pencil fa-2x"></span></a>
        }
        <hr class="hrl" />
        <p>
            @Html.Raw(itemGr.Descrizione)
            <a role="button" data-toggle="collapse" href="#@itemGr.GruppoPodotti_Id" aria-expanded="false" aria-controls="@itemGr.GruppoPodotti_Id">
                <span class="fa fa-arrow-circle-down"></span>
            </a>
        </p>
        <div class="collapse" id="@itemGr.GruppoPodotti_Id">
            <div class="well">
                @Html.Raw(itemGr.DescrizioneDett)
            </div>
        </div>
    }
    <!---Fine intestazione della pagine -->
    <!---Elenco i prodotti di MAZACAM. Nella sezione collapse elenco i dettagli dei prodotti-->

    @foreach (var item in Model)
    {
        <hr class="hr2" />
        <div class="row">
            <div class="col col-md-2 text-center">
                <img class="img-servizio" src="@Url.Content("~/Content/Immagini/Mazacam/" + @item.Mazacam_Id + ".png")" />
            </div>
            <div class=" col col-md-10">
                <h2 class="arancio">
                    @Html.DisplayFor(modelItem => item.Prodotto)
                    <!---Trigger collapse-->
                    @if (@item.Mazacams.Count() != 0)
                    {
                        <a class="badge" role="button" data-toggle="collapse" href="#@item.Mazacam_Id" aria-expanded="false" aria-controls="@item.Mazacam_Id">
                            <span class="fa fa-chevron-down"> Servizi attivi</span><br />
                        </a>
                    }
                </h2>
                <!---Collapse servizi-->
                <div class="collapse" id="@item.Mazacam_Id">
                    <table class="table table-hover">
                        @foreach (var item1 in item.Mazacams.OrderBy(p => p.ProdottoDett))
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(@item1.ProdottoDett, "ServiziDett", "Home", new { id = item1.MazacamDett_Id }, null)
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <h4>@Html.Raw(item.Descrizione)</h4>
            </div>
        </div>
    }

</div>
