@model IEnumerable<NCProgramMVC.Models.Servizi>

@{
    ViewBag.Title = "Servizi";
}
<div class="container body-content">
    <!--- Intestazione della pagina: prevede l'immagine di testa e la descrizione del gruppo di prodotti -->
    <h2 class="text-center"><img class="img-responsive img-prodotti" src="~/Content/Immagini/NCServizi.png" /></h2>
    <hr class="hrl" />
<p class="text-justify">La programmazione delle macchine utensili, i corsi di istruzione di uso e programmazione dei controlli numerici, la progettazione degli attrezzi di bloccaggio e i cicli di lavorazione, sono una tradizione radicata risalente alla fondazione della società. La società annovera esperienze in molteplici settori della meccanica: aeronautica, automotive, orafa, militare, Alimentare, macchine movimento terra, macchine di produzione, macchine lavorazione legno. L’attività di programmazione può anche beneficiare del supporto di collaudo in macchina per i programmi NC realizzati.</p>
        @foreach (var item in Model)
        {
            <hr class="hr2" />
            <div class="row">
                <div class="col col-md-2 text-center">
                        <img class="img-servizio" src="@Url.Content("~/Content/Immagini/Servizi/" + @item.Servizio_Id + ".png")" />
                 </div>
                <div class=" col col-md-10">
                        
                    <!---Trigger collapse-->
                        <a role="button" data-toggle="collapse" href="#@item.Servizio_Id" aria-expanded="false" aria-controls="@item.Servizio_Id">
                            <h2 class="arancio">
                                @Html.DisplayFor(modelItem => item.Servizio)
                                <span class="fa fa-chevron-down"></span><br />
                            </h2>
                        </a>
                    <!---Collapse servizi-->
                    <div class="collapse" id="@item.Servizio_Id">
                        <table class="table table-hover">
                            @foreach (var item1 in item.Servizis.OrderBy(s=>s.Posizione).Select((value, i) => new { i, value }))
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink(@item1.value.ServizioDett, "ServiziDett", "Home", new { id = item1.value.ServizoDett_Id }, null)
                                    </td>
                                </tr>
                            }
                        </table>
                        <h4>@Html.Raw(item.Descrizione)</h4>
                   </div>
                </div>
          </div>
        }



</div>

@section Scripts{
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
        $(function () {
            $("#sortable").sortable({
                update: function (event, ui) { }});
            $("#sortable").disableSelection();
        });
</script>
}