@model NCProgramMVC.Models.TdmDett

@{
    ViewBag.Title = "TdmDett";
}
<div class="container body-content">
    <h2 class="text-center">
        <img class="img-prodotti-xs pull-left" src="~/Content/Immagini/tdm.png" /><a href="@Url.Action("Tdm", "Home")">@Html.DisplayFor(model => model.Prodotto.Prodotto) </a></h2>
    <hr class="hrl" />
    <ul class="ncbreadcrumb">
        <li><a href="@Url.Action("Tdm", "Home")">TDM System</a></li>
        <li><a href="@Url.Action("TdmProdotti", "Home", new {id = Model.Tdm_Id })">@Html.DisplayFor(model => model.Prodotto.Prodotto)</a></li>
        <li><a href="#nogo">@Html.DisplayFor(model => model.ProdottoDett)</a></li>
    </ul>
    <h4>@Html.DisplayFor(model => model.ProdottoDett)</h4>
    <hr class="hr2" />
    <div>
        @Html.Raw(Model.Descrizione)
    </div>
</div>